@model IEnumerable<CetBookStore.Models.Category>

   
        @foreach (var item in Model)
        {
            <li><a class="clc" href="#" onclick="SetCategoryId('@item.Id')">@item.Name </a></li>
         }
  
